<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" type="text/css" href="static\style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
</head>

<body>
  <header>
    <div class="title">
        <h2>Deterministic Finite Automata (DFA) for English Conjunctions/Adverb/Adjectives Finder</h2>
    </div>
  </header>

  <form method="get" action = "{{url_for('home')}}">
    <div class="input-text">
      <textarea name="text" cols="70" rows="10" placeholder="Enter a sample text"></textarea>
    </div>
    <button type="submit" class="generate-btn" name="generateDFA" value="generate">Search</button>
  </form>

  <div class="result">
  <div class="table-results">
    <table>
        <thead>
            <tr>
                <th>Pattern (Input String)</th>
                <th>State</th>
                <th>Alphabet</th>
                <th>Initial State</th>
                <th>Final State</th>
                <th>Transition Function</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pattern|join(', ') }}</td>
                <td>{{states|join(', ')}}</td>
                <td>{{alphabets|join(', ')}}</td>
                <td>{{start_state}}</td>
                <td>{{accept_states|join(', ')}}</td>
                <td>(q24,a):q0, (q24,a):q0, (q24,a):q0, (q24,a):q0, (q24,a):q0, (q24,a):q0 (q24,a):q0 (q24,a):q0 (q24,a):q0 (q24,a):q0 (q24,a):q0
                  (q24,a):q0
                  (q24,a):q0
                  
                </td>
            </tr>
            
        </tbody>
    </table>
    
  </div>
  </div>

  <div class="result">
    <h1>Result</h3>
    <h3>Pattern: {{pattern|join(', ') }} </h3>
    <h3>The text:</h3>

    {% for sentence in sentences_string %}
    <p>{{loop.index ~ '. ' ~ sentence}}</p>
    {% endfor %}

    <h3>Occurrences</h3>
    <p>and: 3 founds</p>
    <p>most: 4 founds</p>

    <h3>Demostration</h3>
    <div class="table-results">
      <table>
          <thead>
              <tr>
                  <th>Sentences</th>
                  <th>Transition</th>
                  <th>Status</th>
                  <th>Substrings Found</th>
                  <th>Occurrences</th>
                  <th>Position</th>
                  
              </tr>
          </thead>
          <tbody>
              {% for i in sentences_data %}
              <tr>
                  <td>{{i.sentence}}</td>
                  <td>{{i.transition_link|join(' --> ')}}</td>
                  <td>{{i.status}}</td>

                  {% if i.substrings_found %}
                  <td>{{i.substrings_found|join(', ')}}</td>
                  {% else %}
                  <td>-</td>
                  {% endif %}

                  {% if i.occurrence_count %}
                  <td>{{input_pattern}}: {{count}} founds</td>
                  
                  {% else %}
                  <td>-</td>
                  {% endif %}

                  <td>most:31,24,20, and:2</td>
              </tr>
              {% endfor %}
              
          </tbody>
      </table>
      
  </div>
  </div>
</body>
</html>