<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" type="text/css" href="static\style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
</head>

<body>
  <header>
    <div class="title">
        <h2>Deterministic Finite Automata (DFA) for English Conjunctions/Adverb/Adjectives Finder</h2>
    </div>
  </header>

  <form method="get" action = "{{url_for('home')}}">
    <div class="input-text">
      <textarea name="text" cols="100" rows="12" placeholder="Enter a sample text"></textarea>
    </div>
    <button type="submit" class="generate-btn" name="generateDFA" value="generate">Search</button>
  </form>

  {% if sentences_data %}
  <div class="result">
  <h1 class="title-headings">Predefined Settings</h1>
  <div class="table-results">
    <table>
        <thead>
            <tr>
                <th>Pattern (Input String)</th>
                <th>State</th>
                <th>Alphabet</th>
                <th>Initial State</th>
                <th>Final State</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pattern|join(', ') }}</td>
                <td>{{states|join(', ')}}</td>
                <td>{{alphabets|join(', ')}}</td>
                <td>{{start_state}}</td>
                <td>{{accept_states|join(', ')}}</td>
            </tr>
            
        </tbody>
    </table>
    
  </div>
  <div class="transition">
  <div class="table-results">
    <h2 class="title-headings">Transition Function</h2>
    <p>Note: Every ' ' represents space</p>
      <table>
        <thead>
          <tr>
            <th>Current State</th>
            <th>Input</th>
            <th>Next State</th>
          </tr>
        </thead>
        <tbody>
          {% for transition_key, next_state in transition.items() %}
            <tr>
              <td>{{ transition_key[0] }}</td>
              <td>{{ transition_key[1] }}</td>
              <td>{{ next_state }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>Note: Every ' ' represents space</p>
      </div>
    </div>
  </div>

  <div class="result">
    <h1 class="title-headings">Result Summary</h1>
    <h3 class="title-headings">Pattern:</h3>
    <p>{{pattern|join(', ') }}</p>
    <h3 class="title-headings">Text Breakdown:</h3>

    <div class="text-display">
    {% for sentence in sentences_string %}
    <p class="text-output">{{loop.index ~ '. ' ~ sentence}}</p>
    {% endfor %}
    </div>

    <h3 class="title-headings">Total Occurrences:</h3>
    {% for key, value in total_occurrence_count.items() %}
      <p>{{ key }}: {{ value }} found</p>
    {% endfor %}

    
    <div class="table-results">
      <h3 class="title-headings">Demostration</h3>
      <table>
          <thead>
              <tr>
                  <th>Sentences</th>
                  <th>Transition</th>
                  <th>Status</th>
                  <th>Substrings Found</th>
                  <th>Occurrences</th>
                  <th>Position(Index)</th>
                  
              </tr>
          </thead>
          <tbody>
              {% for i in sentences_data %}
              <tr>
                  <td>{{i.sentence}}</td>
                  <td>{{i.transition_link|join(' --> ')}}</td>
                  <td>{{i.status}}</td>

                  {% if i.substrings_found %}
                  <td>{{i.substrings_found|join(', ')}}</td>
                  {% else %}
                  <td>-</td>
                  {% endif %}

                  {% if i.occurrence_count %}
                  <td>
                    {% for key, value in i.occurrence_count.items() %}
                    {{ key }}: {{ value }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </td>
                  {% else %}
                  <td>-</td>
                  {% endif %}

                  {% if i.position %}
                  <td>
                    {% for key, value in i.position.items() %}
                    {{ key }}: {{ value|join(', ') }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </td>
                  {% else %}
                  <td>-</td>
                  {% endif %}
              </tr>
              {% endfor %}
              
          </tbody>
      </table>
      
  </div>
  </div>
  {% endif %}
</body>
</html>