<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" type="text/css" href="static\style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
</head>

<body>
  <header>
    <div class="title">
        <h2>Deterministic Finite Automata (DFA) for English Conjunctions/Adverb/Adjectives Finder</h2>
    </div>
  </header>

  <div class="language-graph">
    <h3>Σ = { a,..z, A,..Z, 0,…9, and other symbols found the sample text}</h3>
    <h3>L = {w ∈ Σ * | w contain English Conjunctions/Adverbs/Adjectives}</h3>

    <div class="backgroundBox">
      <p>DFA Graph</p>
      <div class="box">
          <img src="../static/dfa.png" alt="">
      </div>
      <div class="box2">
        <h3>DFA demo by entering a sample text</h3>
    </div>
    </div>
  </div>



  <div class="input-text">
    <textarea name="text" cols="70" rows="10" placeholder="Enter a sample text"></textarea>
    <button type="submit" class="generate-btn" name="generate-DFA" value="generate">Generate</button>
  </div>

  <div class="result">
    <p>English Conjunctions/Adverbs/Adjectives from the sample text:</p>
    <p>L={very,sad,big,small}</p>
    <div class="table-results">
      <table>
          <thead>
              <tr>
                  <th>Input Strings</th>
                  <th>DFA Graph</th>
                  <th>State</th>
                  
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>very</td>
                  <td><img src="../static/dfa.png" alt=""></td>
                  <td>Accept</td>
              </tr>
              <tr>
                  <td>big</td>
                  <td><img src="../static/dfa.png" alt=""></td>
                  <td>Reject</td>
              </tr>
          </tbody>
      </table>
      
  </div>
  </div>
</body>
</html>